* {
    margin: 0;
    padding: 0;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    font-family: "Playwrite NL", cursive;
    color:white;
}

ul {
    display: flex;
    justify-content: space-around;
}

ul li button{
    list-style: none;
    margin: 0px 23px;
    
}

.left {
    font-size: 1.5rem;
    font-weight: bold;
}
  body {
    background-image: url("./empty-dark-room-modern-futuristic-sci-fi-background-3d-illustration.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    text-align: center;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 50vmin;
    width: 50vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    color:black;
    height: 14vmin;
    width: 14vmin;
    border-radius: 1rem;
    border: none;
    background-color: rgb(196, 119, 183);
    /* Semi-transparent white */
    font-size: 6vmin;
    /* box-shadow:4px 4px rgb(215, ; */
    cursor: pointer;
    outline: none;
    /* Remove default focus outline */
    transition: background-color 0.3s ease;

  }
  .box:hover {
    box-shadow: 4px 4px 4px 4px rgb(234, 243, 252);
}

  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  #reset-btn:hover{
    box-shadow: 4px 4px 4px 4px rgb(234, 243, 252);

  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }